/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: sans-serif;
}


/* utilities */

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.active {
    display: inline-block;
}

.none {
    display: none;
}

.opacity-up {
    opacity: 50%;
}

.opacity-down {
    opacity: 100%;
}


/* contents */

.container {
    max-width: 1200px;
    height: 510px;
    margin: 0 auto;
    margin-top: 20px;
}

#car-img {
    width: 920px;
}

#thumb-img {
    width: 280px;
    height: 510px;
    position: relative;
}

#thumb-img>div {
    height: calc(100% / 5);
}

.car-arrows {
    position: absolute;
    top: 0;
    height: 100% !important;
    width: 100%;
    padding: 10px 0px;
}

.car-arrows div {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    padding: 3px;
    border-radius: 50%;
    background-color: bisque;
    user-select: none;
}


/* effects */

.car-arrows div:hover {
    cursor: pointer;
}

.car-arrows div:active {
    transform: scale(0.95);
}